main {
  /* Top was 200px */
  margin: 400px auto 72px auto;
  background-color: rgb(219, 108, 94);
  padding: 24px;
  width: 800px;
  border: 5px solid rgb(44, 44, 44);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

img {
  border-radius: 50%;
  margin-top: -200px;
  border: 5px solid rgb(44, 44, 44);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 30px;
  color: rgb(31, 25, 25);
}

a {
  color: rgb(73, 29, 50);
}

time {
  color: rgb(66, 2, 2);
}

#todays-challenge {
  color: rgb(75, 59, 59);
  font-weight: bold;
  font-size: 52px;
  margin: 0 auto;
}
